<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Id="ShareVisual.Setup" Name="WinFormSharePoint" Manufacturer="ShareVisual" Version="1.0.0.0" >
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    <Feature Id="Main">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>
    <!--<ui:WiXUI Id="WixUI_Minimal" /> --><!-- Minimal UI with no dialogs, just progress bar and error messages -->
     <WixVariable Id="WixUILicenseRtf" Value="ToInstall\License.rtf" />
    <ui:WixUI Id="WixUI_Minimal" />
    <Icon Id="ShareVisual.ico" SourceFile="ToInstall\ShareVisual.ico" />
    <Property Id="ARPPRODUCTICON" Value="ShareVisual.ico" />    
    <!--<UIRef Id="WixUI_ErrorProgressText" />-->
    <!--<UIRef Id="WixUI_Advanced" />-->
  </Package>
</Wix>
